<!--<h2>Hello Lazy Loading</h2>
<a routerLink="/products">Hi</a>
<app-list-orders></app-list-orders>
 <router-outlet></router-outlet> -->
 <app-header></app-header>
 <div class="container pt-4">
     <div class="row">
         <div class="col-lg-3">
            <app-sidebar></app-sidebar>

         </div>
         <!--Col lg 3-->
         <div class="col-lg-9">
            
            
            <router-outlet></router-outlet>

         </div>
         <!--col lg 9-->
     </div>
     <!--row-->
 </div>
 <!--container-->
 <app-footer></app-footer>